/* ipad */
@media (min-width: 1024px) and (max-height :800px){
    * {
        overflow-x: hidden;
        margin: 0;
        padding: 0;

    }

    html,
    body {
        font-family: Kanit;
        height: 100%;
        background: linear-gradient(0deg, rgba(155, 231, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(155, 231, 255, 1) 100%);
    }

    section {
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .longlogo,
    footer {
        display: flex;
        justify-content: center;
    }

    .aboutus {
        font-size: 0.5rem;
        padding: 30px;
        border: 1px black solid;
        text-align: left;
        width: 55%;
    }

    .info {
        font-size: 0.5rem;
        display: flex;
        justify-content: center;
    }

    footer {
        font-size: 0.5rem
    }

    gallery,gallery1{
        margin-top: 50px;
       
        
    }
    gallery{
        margin-top: 1%;
        display: flex;
        justify-content: center;
        
    }
    gallery1{
        margin-top: -10%;
        display: flex;
        justify-content: center;
    }
    .profile-container1 {
        text-align: center;
        margin: 20px;
    }

    /* pai */
    .profile-container2 {
        text-align: center;
        margin: 20px;
    }

    /* ong */
    .profile-container3 {
        text-align: center;
        margin: 20px;
    }

    /* kane */
    .profile-container4 {
        text-align: center;
        margin: 20px;
        margin-top: 8%;
        
    }

    /* bud */
    .profile-container5 {
        text-align: center;
        margin: 20px;
        margin-top: 8%;
    }

    .name {
        margin-top: 5px;
        /* Adjust the margin as needed */
        font-family: Kanit;
        font-size: 14px;
        /* Adjust the font size as needed */
    }

    .pfp {
        border-radius: 50%;
        width: 80px;
        height: 90px;
    }
}
/* ipad pro */
@media (min-width: 1180px) and (max-width:1367px)and (min-height :1023px){
    * {
        overflow-x: hidden;
        margin: 0;
        padding: 0;

    }

    html,
    body {
        font-family: Kanit;
        height: 100%;
        background: linear-gradient(0deg, rgba(155, 231, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(155, 231, 255, 1) 100%);
    }

    section {
        font-size: 3rem;
        display: flex;
        justify-content: center;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .longlogo,
    footer {
        display: flex;
        justify-content: center;
    }

    .aboutus {
        font-size: 0.6rem;
        padding: 30px;
        border: 1px black solid;
        text-align: left;
        width: 69%;
    }

    .info {
        font-size: 0.5rem;
        display: flex;
        justify-content: center;
    }

    footer {
        font-size: 0.5rem
    }

    gallery,gallery1{
        margin-top: 50px;
       
        
    }
    gallery{
        margin-top: 1%;
        display: flex;
        justify-content: center;
        
    }
    gallery1{
        margin-top: -10%;
        display: flex;
        justify-content: center;
    }
    .profile-container1 {
        text-align: center;
        margin: 20px;
    }

    /* pai */
    .profile-container2 {
        text-align: center;
        margin: 20px;
    }

    /* ong */
    .profile-container3 {
        text-align: center;
        margin: 20px;
    }

    /* kane */
    .profile-container4 {
        text-align: center;
        margin: 20px;
        margin-top: 10%;
        
    }

    /* bud */
    .profile-container5 {
        text-align: center;
        margin: 20px;
        margin-top: 10%;
    }

    .name {
        margin-top: 5px;
        /* Adjust the margin as needed */
        font-family: Kanit;
        font-size: 18px;
        /* Adjust the font size as needed */
    }

    .pfp {
        border-radius: 50%;
        width: 110px;
        height: 130px;
    }
}
/* ipad air */
@media (min-width: 1180px) and (max-width:1366px)and (max-height :820px){
    * {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    html,
    body {
        font-family: Kanit;
        height: 100%;
        background: linear-gradient(0deg, rgba(155, 231, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(155, 231, 255, 1) 100%);
    }

    section {
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .longlogo,
    footer {
        display: flex;
        justify-content: center;
    }

    .aboutus {
        font-size: 0.5rem;
        padding: 30px;
        border: 1px black solid;
        text-align: left;
        max-width: 49%;
    }

    .info {
        font-size: 0.5rem;
        display: flex;
        justify-content: center;
    }

    footer {
        font-size: 0.5rem
    }

    gallery,gallery1{
        margin-top: 50px;
       
        
    }
    gallery{
        margin-top: -1%;
        display: flex;
        justify-content: center;
        
    }
    gallery1{
        margin-top: -12%;
        display: flex;
        justify-content: center;
    }
    .profile-container1 {
        text-align: center;
        margin: 20px;
    }

    /* pai */
    .profile-container2 {
        text-align: center;
        margin: 20px;
    }

    /* ong */
    .profile-container3 {
        text-align: center;
        margin: 20px;
    }

    /* kane */
    .profile-container4 {
        text-align: center;
        margin: 20px;
        margin-top: 10%;
        
    }

    /* bud */
    .profile-container5 {
        text-align: center;
        margin: 20px;
        margin-top: 10%;
    }

    .name {
        margin-top: 5px;
        /* Adjust the margin as needed */
        font-family: Kanit;
        font-size: 18px;
        /* Adjust the font size as needed */
    }

    .pfp {
        border-radius: 50%;
        width: 100px;
        height: 110px;
    }
}

