@media (min-width: 376px) and (max-width: 400px)  and (max-height: 897px){
    * {
        overflow-x: hidden;
        margin: 0;
        padding: 0;

    }

    html,
    body {
        font-family: Kanit;
        height: 100%;
        background: linear-gradient(0deg, rgba(155, 231, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(155, 231, 255, 1) 100%);
    }

    section {
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .longlogo,
    footer {
        display: flex;
        justify-content: center;
    }

    .aboutus {
        margin-top: 10%;
        font-size: 0.4rem;
        padding: 30px;
        border: 1px black solid;
        text-align: left;
        width: 75%;
    }

    .info {
        font-size: 0.5rem;
        display: flex;
        justify-content: center;
    }

    footer {
        font-size: 0.5rem
    }
    gallery,gallery1{
        margin-top: 50px;
       
        
    }
    gallery{
        margin-top: 5%;
        display: flex;
        justify-content: center;
        
    }
    gallery1{
        margin-top: -15%;
        display: flex;
        justify-content: center;
    }
    .profile-container1 {
        text-align: center;
        margin: 20px;
    }

    /* pai */
    .profile-container2 {
        text-align: center;
        margin: 20px;
    }

    /* ong */
    .profile-container3 {
        text-align: center;
        margin: 20px;
    }

    /* kane */
    .profile-container4 {
        text-align: center;
        margin: 20px;
        margin-top: 10%;
        
    }

    /* bud */
    .profile-container5 {
        text-align: center;
        margin: 20px;
        margin-top: 10%;
    }

    .name {
        margin-top: 5px;
        /* Adjust the margin as needed */
        font-family: Kanit;
        font-size: 10px;
        /* Adjust the font size as needed */
    }

    .pfp {
        border-radius: 50%;
        width: 50px;
        height: 60px;
    }
}
    


